body{
    background-color:whitesmoke;

    background-size: 100%;
}




.div1{
    text-align: center;
}
.App-name {
  margin-top: 15px;
  
  float: left;
  margin-right:15px;


}


.open {
    font-family: Papyrus, fantasy;
    color:white;
 
    
  }
  
.rest {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color:white;
    
    
  }
.App-logo {
  
    float: left;
  
    margin-top: 20px;
    height: 30px;
    margin-right: 5px;
    width: 40px;
    
  }
 
nav {
    padding: 30px;
    margin-left: 150px;
    text-align: center;
    align-items: center;
    background-color:black ;

  }
 
  

 
 .logout{
     
     float:right;

     
    
     margin-top:20px;
 
     
     

    
 }

 
 .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#A9A9A9;
    overflow-x: hidden;
    border: 1px solid black;
    padding-top: 80px;
 
  
   

  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
  }
  
  .sidenav a:hover {
    color: white;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  

 